version: "3.8"

services:
  db:
    image: postgres:16
    container_name: laravel_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: laravel
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - laravel_net

  app:
    image: osmarbulnes/topicos-app:latest
    container_name: laravel_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    depends_on:
      - db
    networks:
      - laravel_net
    command: >
      sh -c "
        echo 'Esperando BD...' &&
        until nc -z db 5432; do sleep 1; done &&
        echo 'BD disponible. Migrando y seedeando...' &&
        php artisan migrate --seed &&
        php-fpm
      "

  nginx:
    image: osmarbulnes/topicos-nginx:latest
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - app
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_net

networks:
  laravel_net:

volumes:
  db_data:

#docker compose -f docker-compose-independiente.yml up -d

