version: '3.8'

services:
  db:
    image: postgres:16
    container_name: laravel_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: laravel
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - laravel_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    networks:
      - laravel_net
    command: >
      sh -c "
        echo 'Esperando BD...' &&
        until nc -z db 5432; do sleep 1; done &&
        echo 'BD disponible. Migrando y seedeando...' &&
        php artisan migrate --seed &&
        php-fpm
      "

  nginx:
    image: nginx:1.25
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel_net


networks:
  laravel_net:

volumes:
  db_data:


#docker compose up -d