@import 'tailwindcss';


/* Transiciones globales suaves */
* {
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #16a34a;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #15803d;
}
